[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"

[packages]
gensim = "*"
hyperhyper = {editable = true,path = "."}
pytest = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
